{% extends 'store/base.html' %}
{% block content %}
<center>
    <h1>Add Sale Record</h1><br>
<form method="POST" onsubmit="alert('Sales Added successfully');">
    {% csrf_token %}
    <div class="form-group">
      
      <select name="productname" id="id_productname" style="width: 40%;">
          {% for i in data %}
          <option value="{{ i.productname }}">{{ i.productname }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      
      <input type="number" placeholder="Enter Quantity" class="form-control" name="qty" id="id_qty" style="width: 40%;">
    </div>
    <div class="form-group">
      
        <input type="date" class="form-control" name="date" id="id_date" style="width: 40%;">
      </div> 
    
    <button type="submit" class="btn btn-success">Add Sale</button>
  </form> </center>

{% endblock %}