{% extends 'admin/adminbase.html' %}

{% block content %}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Add Stock </h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                
                <ol class="breadcrumb">
                    <li><a href="{% url 'AdminDashboard' %}">Dashboard</a></li>
                    <!-- <li><a href="{% url 'viewstock' %}">view stock</a></li> -->
                    <li class="active">Add Stock</li>
                </ol>
            </div>
        </div>
        <!-- .row -->
        <h1> Manual Entry </h1>
        <div class="row">
           
            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    <form class="form-horizontal form-material" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-12">product Name</label>
                            <div class="col-md-12">
                                <input type="text" 
                                    class="form-control form-control-line" id="id_StoreName" name="StoreName"> </div>
                        </div>
                        
                       
                        
                        <div class="form-group">
                            <label class="col-md-12">quantity</label>
                            <div class="col-md-12">
                                <input type="number"
                                    class="form-control form-control-line"  id="id_quantity" name="quantity"> </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Price</label>
                            <div class="col-md-12">
                                <input type="number"
                                    class="form-control form-control-line"  id="id_price" name="Price"> </div>
                        </div>
                        

                        
                        
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Add product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2020 &copy; Sales Prediction Panel </footer>
</div>

{% endblock %}